    html, body{
        height: 100%;
        width: 100%;
      }

    #map-canvas { width:800px; height:600px; }
		.layer-wizard-search-label { font-family: sans-serif };	  
		
      #legend {
        background: #FFF;
		background-color:#FFF;
        padding: 10px;
		opacity:0.6;
        margin: 5px;
        font-size: 12px;
        font-family: Arial, sans-serif;
      }

      #legend p {
        font-weight: bold;
      }

      #legend div {
        padding-bottom: 5px;
      }

      .color {
        border: 1px solid;
        height: 12px;
        width: 12px;
        margin-right: 3px;
        float: left;
      }

      .red {
        background: #C00;
      }

      .yellow {
        background: #FF3;
      }

      .green {
        background: #6F0;
      }

      .blue {
        background: #06C;
      }

      .purple {
        background: #63C;
      }